@import url("https://fonts.googleapis.com/css?family=Cinzel&display=swap");

body {

background-color: #fff;
background: url("../images/guitar.jpg") no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
 background-size: cover;
margin: 0;
font-family: 'Cinzel';}

.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: 'Cinzel';
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}


.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #8C8C8C;
}

/* Dropdown content */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a colour background  to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

h1 {

 width: 230px;
 height: 180px;
 float: left;
 text-indent: 100%;
 white-space: nowrap;
 overflow: hidden;
 margin: 0;}
h2 {
margin: 1.75em 0 0 0;
color: #0D0D0D; 
font-weight: normal;}
h2 + p {

margin: 0.25em 0 0 0;}

p + p {
margin: 0;}

p + h2 {
margin: 10px 0 0 0;}
/* message under the logo */

#message {

float: left;
clear: left;
background-color: #0D0D0D;
color: #ff0000;
width:170px;
padding: 18px 30px;
text-align: center;}
#info {

  background-color: #F2F2F2;
  color:#0D0D0D;
  width: 120px;
  padding: 0 10px;
  text-align: center;
  min-height: 50%;
  position: absolute;
  top: 50;
  right: 0%;}
/* details in the black bar */

#clubName {

text-transform: uppercase;
text-align: center; 
font-size: 120%;
margin-top: 10px;
border-top: 1px solid #0D0D0D;
border-bottom: 1px solid #0D0D0D; 
padding: 10px 0;}

#concert1 {

margin-top: 1em; 
border-top: 1px solid #0D0D0D; 
padding-top: 1em;} 

#concert2 {

border-bottom: 1px solid #0D0D0D; 
padding-bottom: 1em;}

#tickets {

font-size: 440%;
color: #0D0D0D;
display: inline-block;
margin: 0;}
